/* Makeshift CSS Reset */  
* {
   margin: 0;
   padding: 0;
}
  
/* Tell the browser to render HTML 5 elements as block */  
 header, footer, aside, nav, article {  
     display: block;  
}  

html {
   background-color: #fff;
}

body {
   width: 100%;
   background-color: #FFF;
}

header{
	width: 100%;
	height: 78px;
   background-image: url("../images/gradientfromtop.gif");
}

article {
   width: auto;
}

fieldset {
   padding: 5px;
   width: 300px;
   margin: 0 auto;
}

#listBudgets {
   margin-left: 0;
   padding-left: 0;
   list-style: none;
}
#listBudgets li {
   display: inline;
   list-style-type: none;
}
#listBudgets li a.budget {
   display: inline-block;
   width: 88px;
   height: 43px;
   background-image: url("../img/folder.png");
   background-repeat: no-repeat;
   color: #fff;
   text-align: center;
}

#transactionTable {
   width: 400px;
   border: 1px solid #AAA;
}
#transactionTable td {
   border: 1px dotted #AAA;
}

#msgErrors {
   background-color: #ffa7a7;
   border: 1px dotted #f00;
   
}
